downloads/

config.py

.cache

users.txt

serverLogs.txt

__pycache__/
*.pyc
*.pyo

*.log
*.tmp

venv/
.env
*.env

.idea/
.vscode/

.ipynb_checkpoints/

.ytdl/

cookies.txt

ig.session

.DS_Store

reddit_cookies.txt
